.header {
  display: grid;
  grid-template-columns: 0.4fr 3.5fr 1fr 1fr 2fr 0.7fr;
  font-family: var(--base-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.42px;
  color: #000000;
  height: 56px;
  align-items: center;
  margin: 0px 18px 0px 69px;
}
.actionControl {
  text-align: end;
}
.onlyForBorderStyles {
  border-bottom: 0.5px solid;
  border-color: var(--secondary-disabled-btn);
}
